.homeCls{
	height: 94vh;
	width:100%;
	display:grid;
	align-items: center;
	justify-content: center; 	 		
}

.bannerCls{
	font-size: 68px;		
	padding:0;
	margin:0 auto;
	color: Red;
	font-style: italic;	
}

.captionClass{
	color:black;
	font-weight: bolder;
	font-size: 28px;
	font-style:italic;
	width:88%;
	margin:0 auto;
	text-align: center;
}

.coverDiv{
	background-color: rgba(255,255,255,0.7);	
}