input[type=text], input[type=password]{
	width:95%;
}

#signUpBtn {
	height:35px;
	width: 100px;
	margin:9% auto 0 auto;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	display:block;
	background-color: blue;
	color:white;	
}

.errCls{
	color: red;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
	text-align: center;
}